@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100vh;
  /* overflow: hidden; */
  background-color: #e1e4e7;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.timer-list-section {
    width: 100%;
    border-radius: 10px;
    flex: 1;
    /* border: 1.5px solid #8b3dff; */
    box-shadow:  0px 0px 1px rgba(64,87,109,.04),0px 6px 20px -4px rgba(64,87,109,.3);
    color:#3b4146;
}
  
.timer-list-section .section-bottom {
    padding: 10px;
}

.time-log-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.list-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  /* border: 1.5px solid #8b3dff; */
  /* box-shadow:  0 2px 4px -1px rgba(57, 76, 96, .15);; */
  box-shadow: inset 0 0 0 1px rgba(53, 71, 90, .2);
  border-radius: 10px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, .01), rgba(0, 0, 0, .1));;
}
.list-item-container.clicked {
    background-color: #ffffff;
}

.timer-total{
    font-size: 16px;
    font-family: inherit;
    font-style: italic;
    font-weight: 600;
    padding: 10px;
}


/* ///////////////////////////timer section///////////////////// */
.timer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  border-radius: 10px;
  flex: 1;
  /* border: 1.5px solid #8b3dff; */
  box-shadow:  0px 0px 1px rgba(64,87,109,.04),0px 6px 20px -4px rgba(64,87,109,.3);
  color:#3b4146;
}
.section-head {
  width: 100%;
  text-align: center;
  padding: 10px;
}
.section-bottom {
  width: 100%;
  text-align: center;
  padding: 20px;
}
.timer-container {
  /* border: 1.5px solid #8b3dff; */
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); */
  box-shadow: inset 0 0 0 1px rgba(53, 71, 90, .2);
  border-radius: 10px;
  padding: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, .01), rgba(0, 0, 0, .1));;
}
.timer {
  font-size: 35px;
  font-family: inherit;
}
.timer-btn-container {
  width: 100%;
}
.timer-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  font-family: inherit;
  background: #8b3dff;
  color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.timer-icon {
  width: 23px;
  height: 23px;
  fill: #fff;
}

@media (min-width: 768px) {
  body {
    padding: 80px;
  }
  .container {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 20px;
  }

  .timer-list-section {
    height: 100%;
    flex: 2;
    width: 90%;
    overflow: hidden;
  }
  .timer-list-section .section-bottom{
    height: 100%;
    overflow-y: auto;
  }

  /* .time-log-container{
    overflow-y: auto;
    height: 100%;
  }
  .time-log-list{
    overflow: auto;
    height: 100%;
  } */


  .timer-section {
    flex: 1;
    width: 10%;
    height: 100%;
    display: block;
  }
  .timer-section .section-head {
    /* flex: 1; */
    height: 12%;
  }
  .timer-section .section-bottom {
    /* flex: 2; */
    height: 88%;
  }
  .timer-list-section .section-head h3,
  .timer-section .section-head h3 {
    font-size: 20px;
    letter-spacing: 3px;
    white-space: nowrap;
  }

  .timer-container {
    height: 100%;
    padding: 20px;
    gap: 130px;
    justify-content: space-around;
  }

  .timer {
    font-size: 45px;
  }

  .timer-btn-container {
    width: 80%;
  }
  .timer-btn {
    font-size: 16px;
    font-weight: 600;
  }
  .timer-icon {
    width: 25px;
    height: 25px;
  }
}
